
/* Estilos para pantallas pequeñas (tablets y móviles) */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .hamburger{
      display: block;
      width: 35px;
  }

  .hamburger img {
      width: 30px;
  }

  .cerrar {
      display: block;
  }

  .nav {
      display: none;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #5f5b5b;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(12, 12, 12, 0.5);
      
      
  }

  .nav.visible {
      opacity: 1;
      align-items: end;
  }


  .nav ul {
      flex-direction: column;
      align-items: end;
  }

  .nav ul li {
      margin: 10px 0;
  }

  .hero .h1 {
      font-size: 50px;
  }

  .grid-container {
      grid-template-columns: 1fr; /* One column on smaller screens */
  }

  .servicios-home,
  .h2-seo-lab {
      font-size: 40px;
  }
  
  .clients-bar img {
      max-width: 80px; /* Smaller logo on mobile */
  }
  
  .whatsapp-button,
  .services-button {
      width: 100%; /* Full-width buttons */
  }
}

@media (max-width: 480px) {
  .hero {
      padding: 40px 10px;
  }

  .hero .h1 {
      font-size: 30px;
  }

  .grid-item {
      padding: 15px;
  }

  .grid-item h3 {
      font-size: 16px;
  }

  .grid-item p {
      font-size: 12px;
  }
  
  .footer {
      font-size: 14px; 
  }
  
}
/*Mediaqueries Blog*/

@media (max-width: 768px) {
    .grid-articulos {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  
    .menu-categorias {
      li {
        margin: 0 10px;
      }
    }
  
    .blog {
      padding: 40px 0;
    }
  
    .contenido {
      padding: 15px;
    }
  
    .categorias,
    .articulos {
      h2 {
        font-size: 14px;
      }
    }
  }
  