
// Responsive styles
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .hamburger {
      display: block;
      width: 35px;

      img {
          width: 30px;
      }
  }

  .cerrar {
      display: block;
  }

  .nav {
      display: none;
      opacity: 0;
      visibility: hidden;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #5f5b5b;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(12, 12, 12, 0.5);

      &.visible {
          opacity: 1;
          align-items: end;
      }

      ul {
          flex-direction: column;
          align-items: end;

          li {
              margin: 10px 0;
          }
      }
  }

  .hero .h1 {
      font-size: 50px;
  }

  .grid-container {
      grid-template-columns: 1fr;
  }

  .servicios-home,
  .h2-seo-lab {
      font-size: 40px;
  }

  .clients-bar img {
      max-width: 80px;
  }

  .whatsapp-button,
  .services-button {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .hero {
      padding: 40px 10px;
  }

  .hero .h1 {
      font-size: 30px;
  }

  .grid-item {
      padding: 15px;
  }

  .grid-item h3 {
      font-size: 16px;
  }

  .grid-item p {
      font-size: 12px;
  }

  .footer {
      font-size: 14px;
  }
}
